body{
    background-color: rgb(0, 4, 213);
    color: rgb(0, 0, 0);
    padding: 60px;
}
h1{
    text-align: center;
    padding: 20px;
    color: rgb(194, 194, 194);
}
#cntr1{
    height: 70px;
    background-color: rgb(202, 227, 227);
    padding: 16px;

}
.cntr{
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    padding: 6px;
    font-weight: 500;
    background-color: rgb(241, 241, 241);
    font-size: 20px;

}